.student-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.student-card {
  width: 100%;
  max-width: 450px;
  padding: 2.5rem;
  background-color: var(--white);
  border-radius: 16px;
  box-shadow: var(--box-shadow);
}

.student-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: var(--navy);
  margin-bottom: 2rem;
}

.student-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.student-input {
  width: 100%;
  padding: 0.8rem 1rem;
  color: var(--dark-text);
  background-color: var(--white);
  border: 1px solid var(--gray);
  border-radius: 8px;
  font-size: 1rem;
}

.student-input:focus {
  outline: none;
  border-color: var(--primary);
  box-shadow: var(--box-shadow);
}

.student-button {
  width: 100%;
  margin-top: 1rem;
}